@media screen and (max-width: 1024px) {
    .banner,
    .advantages,
    .delivery,
    .services {
        ul li::before {
            content: none;
         }
    }

    .title-template {
         h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 16px;
        }

        &::after {
            position: absolute;
            left: 50%;
            top: calc(100% - 2px);
            transform: translate(-50%, 0);
            margin: 0;
        }
    }
        
    // Header
    .header {
        padding: 6px 4px 10px;

        &__logo {
            max-width: 126px;
        }

        &__nav {
            flex-direction: column;
            position: fixed;
            inset: 75px 0 0;
            padding: 14px 0;
            background-color: $bg-secondary;
    
            .btn {
                justify-content: center;
                font-size: 16px;
                margin: 0 auto;
                width: 320px;
                max-width: 100%;
                padding: 22px;
            }
    
            &-list {
                flex-direction: column;
                margin-bottom: 21px;
                margin-top: 21px;
            }
        
            &-item-link {
                font-size: 24px;
                line-height: 222%;
            }
        
            &-item {
                margin-bottom: 11px;
            }
        }
    }  

    // First-screen
    .first-screen {
        margin-bottom: 54px;
    }

    // Banner
    .banner {
        padding: 0;
        
        .slick-slide {
            height: calc(100vh - 75px);
            padding: 0 40px;

            .container {
               display: flex;
               flex-direction: column;
               align-items: center;
               text-align: center;
               padding: 0;
               margin-bottom: 60px;
               z-index: 2;
           }

           &:before {
               content: "";
               position: absolute;
               z-index: 1;
               background: rgba(0, 0, 0, 0.05);
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
           }
        }

        &-title {
            font-size: 32px;
            width: 297px;
            margin-bottom: 10px;
        }
    
        &-subtitle {
            font-size: 16px;
            width: 277px;
            margin-bottom: 18px;
        }
    }

    // Calculation
    .calculation {
        margin-bottom: $section-margin;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title-template.col-lg-7 {
            margin-bottom: 56px;
            
            h2 {
                text-align: center;
                
                &::after {
                    position: absolute;
                    left: 50%;
                    top: calc(100% - 2px);
                    transform: translate(-50%, 0);
                    margin: 0;
                }
            }
        }

        &__form {
            padding: 46px 35px 34px;
        }
        
        &-row {
            flex-direction: column;
            gap: 20px;
        }

        &-column {
            gap: 17px;

            & .input-box .btn {
                margin-bottom: 0px;
                max-width: 275px;
            }

            & .input-box .file-name {
                padding-top: 0px;
            }

        }
    
        &__img-box {
            display: none;
        }

        .move-checkbox {
            padding-top: 5px;
            gap: 7px;
        }

        .move-code {
            margin-top: -12px;
        }

        .btn-lg .icon {
            margin: 0 -14px 0 70px;
        }
    }

    // Advantages
    .advantages {
        margin-bottom: $section-margin;
        @include default-bg-mobile;
        padding: 55px 0 89px;

        .title-template {
            margin-bottom: 42px;
        }

            .slick-slider {
                ul.slick-dots{
                    position: absolute;
                    bottom: -47px;
                }
            }
        }

    // Delivery
    .delivery {
        margin-bottom: $section-margin;

        .card {
            margin: 0 12px 32px;
            padding: 0px 0px 27px;

            &__img {
                width: 100%;
            }

            &__button {
                
                .btn {
                width: 138px;
                }
            }
        }
    }

    // Sevices
    .services {
        margin-bottom: $section-margin;
        @include default-bg-mobile;

        .card {
            padding: 0px 10px 47px 12px;
            margin: 0 15px 33px;

            &__subtitle {
                p {
                    font-size: 14px;
                    line-height: 124.5%; /* 17.43px */
                    margin-bottom: 7px;
                }
            }
        }
    }

    // About
    .about {

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title-template {
            margin-top: 0;
            margin-bottom: 25px;
            &:after {
                left: 50%;
                transform: translate(-50%, 0);
            }
        }

        .about-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            p {
                font-size: 16px;
                line-height: 149.5%; /* 23.92px */
                text-align: justify;
                margin-bottom: 20px;
            }
        }

        .about__img-box {
            margin-left: 0;
        }
    }

    // Faq
    .faq {
        
        .accordion {
            margin-bottom: 28px;
        }

        .accordion-body {
            padding-right: 10px;
        }

        .d-flex {
            flex-direction: column;
            align-items: center;
        }

        .faq__form-title {
            text-align: center;
        }

        .faq__form-subtitle {
            text-align: center;
        }

        .faq__form {
            width: 335px;
            padding: 38px 20px;
            margin-left: 0;

            .btn-lg {
                .icon {
                    margin: 0 -14px 0 auto;
                }
            }
        }
    }

    // Seo
    .seo {
        @include default-bg-mobile;

        .d-flex {
            flex-direction: column-reverse;
            align-items: center;

            &:last-of-type {
                flex-direction: column;
            }
        }
    }

    // Footer
    .footer {
        .transportation-footer,
        .services-footer,
        .info-footer {
            display: none;
        }

        .container:before {
            width: 335px;
            height: 2px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .main-info {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}