@media screen and (max-width: 1024px) {
    .header{
        padding: 6px 4px 10px;
    }
    
    .header__logo {
        max-width: 126px;
    }

    .header__nav {
        flex-direction: column;
        position: fixed;
        inset: 75px 0 0;
        padding: 14px 0;
        background-color: $bg-secondary;
        .btn {
            justify-content: center;
            font-size: 16px;
            margin: 0 auto;
            width: 320px;
            max-width: 100%;
            padding: 22px;
        }

        &-list {
            flex-direction: column;
            margin-bottom: 21px;
            margin-top: 21px;
        }
    
        &-item-link {
            font-size: 24px;
            line-height: 222%;
        }
    
        &-item {
            margin-bottom: 11px;
        }
    }

    .banner {
        padding: 0;
        
        .slick-slide {
            height: calc(100vh - 75px);
            padding: 0 40px;

            .container {
               display: flex;
               flex-direction: column;
               align-items: center;
               text-align: center;
               padding: 0;
               z-index: 2;
           }
           &:before {
               content: "";
               position: absolute;
               z-index: 1;
               background: rgba(0, 0, 0, 0.05);
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
           }
        }

        &-title {
            font-size: 32px;
            width: 297px;
            margin-bottom: 10px;
        }
    
        &-subtitle {
            font-size: 16px;
            width: 277px;
            margin-bottom: 18px;
        }
    }
}
