.calculation {
    margin-bottom: 113px;
    @extend .charter
}

.calculation .container {
    position: relative;
}

.calculation__form {
    max-width: 626px;
    padding: 50px 50px 41px;
    background-color: $bg-secondary;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calculation-row {
    display: flex;
    gap: 30px;
}

.calculation-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;

    .input-box {

        input {
            border-radius: 10px;
            width: 100%;
            padding: 16px 20px;
            border: none;

            &::placeholder {
                color: #CBCBCB;
                font-weight: 400;
            }
            
            &:hover {
                box-shadow: 0px 0px 4px 2px $color-primary;
            }

            &:focus {
                outline: none;
                box-shadow: 0px 0px 4px 2px $color-secondary;
            }
        }

        label {
            font-size: 15px;
            font-weight: 600;
            width: 100%;
            line-height: 126%; /* 18.9px */
            margin-bottom: 6px;
        }

        & .btn {
            max-width: 253px;
            padding: 19.6px 29px;
            margin-bottom: 20px;
        }

        & #file-name {
            font-size: 15px;
            font-weight: 400;
            line-height: 126%; /* 18.9px */
        }
    }

    & [for=fileInput] {
        padding: 10px 20px;
        margin-top: 15px;
        cursor: pointer;
        border-radius: 10px;
        border: 1px dashed rgba(255, 255, 255, 0.26);
        text-align: center;
        transition: .3s;

        &:hover {
            border: 1px dashed $color-secondary;
            color: $color-secondary;
        }
    }

    & #fileInput {
        display: none;
    }
}

.calculation__img-box {
    position: absolute;
    right: -2px;
    top: -34px;
    max-width: 560px;
}

.move-checkbox {
    padding-top: 20px;
    gap: 8px;
}
