.first-screen {
    position: relative;
    margin-bottom: 144px;
}

.banner {
    .slick-slide {
        height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 0 92px 64px;
    }

    &-title {
        font-size: 56px;
        font-weight: 700;
        line-height: 126%; /* 70.56px */
        text-transform: uppercase;
        width: 463px;
    }

    &-subtitle{
        font-size: 20px;
        font-weight: 300;
        line-height: 135.5%; /* 27.1px */
        width: 345px;
        margin-bottom: 36px;
    }

    .btn-lg {
        padding: 19.6px 28px;
    }

    ul li::before {
       content: none;
    }

    ul.slick-dots{
        margin: -51px 0 0 ;
        transform: translate(-16px, 1px);
    }
}

.banner-arrows { 
    position: absolute;
    display: flex;
    justify-content: space-between;
    max-width: 1566px;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45px);
}