<section class="delivery">
    <div class="container">
        <div class="title-template">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="delivery-slider">
            <div class="card">
                <div class="card__img">
                    <img src="assets/img/delivery-1.png" class="img-fluid" alt="delivery">
                </div>
                <h4 class="card__title">Авто - обычная</h4>
                <div class="card__info">
                    <div class="info-atributes">
                        <div class="atributes-item">
                            <img src="assets/img/calendar-icon.svg" alt="calendar-icon">
                            9-15 дней
                        </div>
                        <div class="atributes-item">
                            <img src="assets/img/cargo-icon.svg" alt="cargo-icon">
                            от 5 кг
                        </div>
                    </div>
                    <div class="card-price">
                        <span class="price-item-1">от</span>
                        <strong class="price-item-2">2,5</strong>
                        <span class="price-item-3">$/кг</span>
                    </div>
                </div>
                <div class="card__button">
                    <button type="button" class="btn btn-primary">Оставить заявку</button>
                    <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="assets/img/delivery-2.png" class="img-fluid" alt="delivery">
                </div>
                <h4 class="card__title">Авто - ускоренная</h4>
                <div class="card__info">
                    <div class="info-atributes">
                        <div class="atributes-item">
                            <img src="assets/img/calendar-icon.svg" alt="calendar-icon">
                            9-15 дней
                        </div>
                        <div class="atributes-item">
                            <img src="assets/img/cargo-icon.svg" alt="cargo-icon">
                            от 5 кг
                        </div>
                    </div>
                    <div class="card-price">
                        <span class="price-item-1">от</span>
                        <strong class="price-item-2">2,5</strong>
                        <span class="price-item-3">$/кг</span>
                    </div>
                </div>
                <div class="card__button">
                    <button type="button" class="btn btn-primary">Оставить заявку</button>
                    <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="assets/img/delivery-3.png" class="img-fluid" alt="delivery">
                </div>
                <h4 class="card__title">Авиа</h4>
                <div class="card__info">
                    <div class="info-atributes">
                        <div class="atributes-item">
                            <img src="assets/img/calendar-icon.svg" alt="calendar-icon">
                            9-15 дней
                        </div>
                        <div class="atributes-item">
                            <img src="assets/img/cargo-icon.svg" alt="cargo-icon">
                            от 5 кг
                        </div>
                    </div>
                    <div class="card-price">
                        <span class="price-item-1">от</span>
                        <strong class="price-item-2">2,5</strong>
                        <span class="price-item-3">$/кг</span>
                    </div>
                </div>
                <div class="card__button">
                    <button type="button" class="btn btn-primary">Оставить заявку</button>
                    <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="assets/img/delivery-4.png" class="img-fluid" alt="delivery">
                </div>
                <h4 class="card__title">Ж/д</h4>
                <div class="card__info">
                    <div class="info-atributes">
                        <div class="atributes-item">
                            <img src="assets/img/calendar-icon.svg" alt="calendar-icon">
                            9-15 дней
                        </div>
                        <div class="atributes-item">
                            <img src="assets/img/cargo-icon.svg" alt="cargo-icon">
                            от 5 кг
                        </div>
                    </div>
                    <div class="card-price">
                        <span class="price-item-1">от</span>
                        <strong class="price-item-2">2,5</strong>
                        <span class="price-item-3">$/кг</span>
                    </div>
                </div>
                <div class="card__button">
                    <button type="button" class="btn btn-primary">Оставить заявку</button>
                    <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
            <div class="card">
                <div class="card__img">
                    <img src="assets/img/delivery-5.png" class="img-fluid" alt="delivery">
                </div>
                <h4 class="card__title">Море</h4>
                <div class="card__info">
                    <div class="info-atributes">
                        <div class="atributes-item">
                            <img src="assets/img/calendar-icon.svg" alt="calendar-icon">
                            9-15 дней
                        </div>
                        <div class="atributes-item">
                            <img src="assets/img/cargo-icon.svg" alt="cargo-icon">
                            от 5 кг
                        </div>
                    </div>
                    <div class="card-price">
                        <span class="price-item-1">от</span>
                        <strong class="price-item-2">2,5</strong>
                        <span class="price-item-3">$/кг</span>
                    </div>
                </div>
                <div class="card__button">
                    <button type="button" class="btn btn-primary">Оставить заявку</button>
                    <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
            </div>
        </div>
        <div class="delivery-arrows"></div>
    </div>
</section>