<section class="delivery">
    <div class="container">
        <div class="title-template">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="template-slider">
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-1.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="tempalte-card__title">Авто - обычная</h4>
                        <div class="template-card__atributes">
                            <div class="template-card__atributes-item">
                                <div class="img-box">
                                    <img src="assets/img/calendar-icon.svg" class="img-fluid" alt="calendar-icon">
                                </div>
                                15-30 дней
                            </div>
                            <div class="template-card__atributes-item">
                                <div class="img-box">
                                    <img src="assets/img/cargo-icon.svg" class="img-fluid" alt="cargo-icon">
                                </div>
                                от 5 кг
                            </div>
                        </div>
                        <div class="template-card__price">
                            <span>от</span>
                            <strong>2,5</strong>
                            <span>$/кг</span>
                        </div>
                    <div class="template-card__btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-2.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="tempalte-card__title">Авто - ускоренная</h4>
                        <div class="template-card__atributes">
                            <div class="template-card__atributes-item">
                                <div class="img-box">
                                    <img src="assets/img/calendar-icon.svg" class="img-fluid" alt="calendar-icon">
                                </div>
                                10-20 дней
                            </div>
                            <div class="template-card__atributes-item">
                                <div class="img-box">
                                    <img src="assets/img/cargo-icon.svg" class="img-fluid" alt="cargo-icon">
                                </div>
                                от 10 кг
                            </div>
                        </div>
                        <div class="template-card__price">
                            <span>от</span>
                            <strong>3,5</strong>
                            <span>$/кг</span>
                        </div>
                    <div class="template-card__btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-3.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="tempalte-card__title">Авиа</h4>
                        <div class="template-card__atributes">
                            <div class="template-card__atributes-item">
                                <div class="img-box">
                                    <img src="assets/img/calendar-icon.svg" class="img-fluid" alt="calendar-icon">
                                </div>
                                5-10 дней
                            </div>
                            <div class="template-card__atributes-item">
                                <div class="img-box">
                                    <img src="assets/img/cargo-icon.svg" class="img-fluid" alt="cargo-icon">
                                </div>
                                от 10 кг
                            </div>
                        </div>
                        <div class="template-card__price">
                            <span>от</span>
                            <strong>5,5</strong>
                            <span>$/кг</span>
                        </div>
                    <div class="template-card__btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-4.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="tempalte-card__title">Ж/Д</h4>
                        <div class="template-card__atributes">
                            <div class="template-card__atributes-item">
                                <div class="img-box">
                                    <img src="assets/img/calendar-icon.svg" class="img-fluid" alt="calendar-icon">
                                </div>
                                15-30 дней
                            </div>
                            <div class="template-card__atributes-item">
                                <div class="img-box">
                                    <img src="assets/img/cargo-icon.svg" class="img-fluid" alt="cargo-icon">
                                </div>
                                от 5 кг
                            </div>
                        </div>
                        <div class="template-card__price">
                            <span>от</span>
                            <strong>2,5</strong>
                            <span>$/кг</span>
                        </div>
                        <div class="template-card__btn-row">
                            <button type="button" class="btn btn-primary">Оставить заявку</button>
                            <button type="button" class="btn btn-secondary">Подробнее</button>
                        </div>
                </div>
            </div>
            <div>
                <div class="template-card">
                    <div class="img-box">
                        <img src="assets/img/delivery-5.png" class="img-fluid" alt="delivery">
                    </div>
                    <h4 class="tempalte-card__title">Море</h4>
                        <div class="template-card__atributes">
                            <div class="template-card__atributes-item">
                                <div class="img-box">
                                    <img src="assets/img/calendar-icon.svg" class="img-fluid" alt="calendar-icon">
                                </div>
                                20-40 дней
                            </div>
                            <div class="template-card__atributes-item">
                                <div class="img-box">
                                    <img src="assets/img/cargo-icon.svg" class="img-fluid" alt="cargo-icon">
                                </div>
                                от 10 кг
                            </div>
                        </div>
                        <div class="template-card__price">
                            <span>от</span>
                            <strong>1,5</strong>
                            <span>$/кг</span>
                        </div>
                    <div class="template-card__btn-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>