<section class="first-screen">
   <div id="banner" class="container-xxl banner">
        <div style="background-image: url(assets/img/first-screen-1.png);">
            <div class="container">
                <h1 class="banner-title">Прямое КАРГО из Китая</h1>
                <p class="banner-subtitle">Доставляем любые грузы из Китая по честной цене</p>
                <button type="button" class="btn btn-primary btn-lg">
                    Рассчитать стоимость<img src="assets/img/arrow-right.svg" class="icon" alt="icon">
                </button>
            </div>
        </div>
        <div style="background-image: url(assets/img/first-screen-2.png);">
            <div class="container">
                <p class="banner-title">Выкуп товара с ТаоБао, 1688</p>
                <p class="banner-subtitle">Выкуп и доставка товаров с китайских торговых площадок. </p>
                <button type="button" class="btn btn-primary btn-lg">
                    Рассчитать стоимость<img src="assets/img/arrow-right.svg" class="icon" alt="icon">
                </button>
            </div>
        </div>
        <div style="background-image: url(assets/img/first-screen-3.png);">
            <div class="container">
                <p class="banner-title">Экспресс авто доставка</p>
                <p class="banner-subtitle">Lorem ipsum dolor sit amet.</p>
                <button type="button" class="btn btn-primary btn-lg">
                    Рассчитать стоимость<img src="assets/img/arrow-right.svg" class="icon" alt="icon">
                </button>
            </div>
        </div>
        <div style="background-image: url(assets/img/first-screen-4.png);">
            <div class="container">
                <p class="banner-title">Lorem ipsum dolor</p>
                <p class="banner-subtitle">Lorem ipsum dolor sit amet.</p>
                <button type="button" class="btn btn-primary btn-lg">
                    Рассчитать стоимость<img src="assets/img/arrow-right.svg" class="icon" alt="icon">
                </button>
            </div>
        </div>
   </div>
</section>