<section class="services">
    <div class="container-xxl container-fluid">
        <div class="container">
            <div class="title-template">
                <h2>Услуги</h2>
            </div>
            <div class="template-slider">
                <div>
                    <div class="template-card" style="background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(assets/img/services-1.png) center / cover no-repeat lightgray;">
                        <div class="img-box">
                        </div>
                        <h4 class="tempalte-card__title">Выкуп товара</h4>
                            <div class="template-card__info">
                                <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                            </div>
                            <div class="template-card__btn-row">
                                <button type="button" class="btn btn-secondary">Подробнее</button>
                            </div>
                    </div>
                </div>
                <div>
                    <div class="template-card" style="background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(assets/img/services-2.png) center / cover no-repeat lightgray;">
                        <div class="img-box">
                        </div>
                        <h4 class="tempalte-card__title">Страховка груза</h4>
                            <div class="template-card__info">
                                <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                            </div>
                            <div class="template-card__btn-row">
                                <button type="button" class="btn btn-secondary">Подробнее</button>
                            </div>
                    </div>
                </div>
                <div>
                    <div class="template-card" style="background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(assets/img/services-3.png) center / cover no-repeat lightgray;">
                        <div class="img-box">
                        </div>
                        <h4 class="tempalte-card__title">Аренда склада</h4>
                            <div class="template-card__info">
                                <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                            </div>
                            <div class="template-card__btn-row">
                                <button type="button" class="btn btn-secondary">Подробнее</button>
                            </div>
                    </div>
                </div>
                <div>
                    <div class="template-card" style="background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(assets/img/services-4.png) center / cover no-repeat lightgray;">
                        <div class="img-box">
                        </div>
                        <h4 class="tempalte-card__title">Перевод денежных средств</h4>
                            <div class="template-card__info">
                                <p>Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина.</p>
                            </div>
                            <div class="template-card__btn-row">
                                <button type="button" class="btn btn-secondary">Подробнее</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>