<section class="services">
    <div class="container-xxl container-fluid">
        <div class="container">
            <div class="title-template">
                <h2>Услуги</h2>
            </div>
            <div class="services-slider">
                <div class="card" style="background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(assets/img/services-1.png) center / cover no-repeat lightgray;">
                    <div class="card__title">
                        <h4>Выкуп товара</h4>
                    </div>
                    <div class="card__subtitle">
                        <p>
                            Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. 
                        </p>
                    </div>
                    <div class="card__button">
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
                <div class="card" style="background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(assets/img/services-2.png) center / cover no-repeat lightgray;">
                    <div class="card__title">
                        <h4>Страховка груза</h4>
                    </div>
                    <div class="card__subtitle">
                        <p>
                            Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. 
                        </p>
                    </div>
                    <div class="card__button">
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
                <div class="card" style="background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(assets/img/services-3.png) center / cover no-repeat lightgray;">
                    <div class="card__title">
                        <h4>Аренда склада</h4>
                    </div>
                    <div class="card__subtitle">
                        <p>
                            Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. 
                        </p>
                    </div>
                    <div class="card__button">
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
                <div class="card" style="background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(assets/img/services-4.png) center / cover no-repeat lightgray;">
                    <div class="card__title">
                        <h4>Перевод денежных средств</h4>
                    </div>
                    <div class="card__subtitle">
                        <p>
                            Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. 
                        </p>
                    </div>
                    <div class="card__button">
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div class="services-arrows"></div>
        </div>
    </div>
</section>